# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=metargb_db
DB_USER=root
DB_PASSWORD=

# gRPC Configuration
GRPC_PORT=50054

# Service Dependencies
NOTIFICATION_SERVICE_ADDR=localhost:50055

