# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=metargb_db

# gRPC Configuration
GRPC_PORT=50061

# Service Addresses
COMMERCIAL_SERVICE_ADDR=commercial-service:50052
