go 1.25.13

use (
	./services/auth-service
	./services/calendar-service
	./services/commercial-service
	./services/dynasty-service
	./services/features-service
	./services/financial-service
	./services/health-check-service
	./services/levels-service
	./services/notifications-service
	./services/social-service
	./services/storage-service
	./services/support-service
	./services/training-service
	./services/websocket-gateway
	./shared
)
